body {
  background: url("../../images/bg-lines.svg"), linear-gradient(270deg, #212121 0%, #010101 100%);
  background-repeat: no-repeat;
  background-size:cover,auto;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 20px;
}

.animate-left {
  animation: enter-left .3s forwards; 
}

.animate-right {
  animation: enter-right .3s forwards; 
}

@keyframes enter-right {
  from {
    opacity: 0;
    transform: translate3d(-30px,0,0);
  }

  to {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}


@keyframes enter-left {
  from {
    opacity: 0;
    transform: translate3d(30px,0,0);
  }

  to {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}