body {
  background: url("../../images/bg-lines.svg"), linear-gradient(270deg, #212121 0%, #010101 100%);
  background-repeat: no-repeat;
  background-size:contain,auto;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 20px;
}