.header-nav,
.main-nav {
  display: flex;
  align-items: center;
}

.header-nav {
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 120px;
}

.main-nav {
  gap: 20px;
}

.main-nav a {
  padding: 0 14px;
  color:#EEEEEE;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 1rem;
}


@media (max-width:880px) {
  .header-nav {
    margin-bottom: 60px;
    flex-wrap: wrap;
    gap: 10px;
  }

  .header-nav img {
    max-width: 200px;
  }

  .header-nav a{
    font-size: 0.75rem;
    display: block;
    background: rgba(0, 0, 0, .5);
    border-radius: 5px;
    padding: 10px;
  }
}

@media (max-width:470px) {
  .header-nav {
    margin-bottom: 30px;
  }
}


@media (max-width:350px) {
  .header-nav {
    margin-bottom: 20px;
  }
}