* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

body,
h1,
h2,
h3,
p,
li,
ul,
span {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}